.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title {
  display: block;
  height: 30px;
  width: 100%;
  background-color: #61dafb;
  padding: 10px 10px;
}

.buttons {
  display: block;
  padding: 5px 10px;
}

.buttons button {
  background-color: rgb(12, 218, 204);
  color: #000000;
}

.question {
  padding: 5px 10px;
}

.btn_answer {
  background-color: rgb(12, 218, 204);
  color: #000000;
}

.answer_field {
  display: block;
  height: 30px;
  width: 100%;
  background-color: #61dafb;
  padding: 10px 10px;
}
